<!-- <div class="container1">

      
  <div class="gallery">

    <div *ngFor="let i of dispArr" (click)="getDetails(i)" class="gallery-item">
      <img *ngIf="i.url" class="gallery-image" [src]="i.url" alt="Member has not uploaded any photos">
      <img *ngIf="!i.url" class="gallery-image" src="../../assets/altImg.jpg" alt="Member has not uploaded any photos">
      <p>{{i.photoStyle}}</p>
      <p>{{i.name}}</p><i class="fas fa-rupee-sign"></i>&nbsp;
      {{i.charges}} per day  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Photo Package      
    </div>
  </div> 
  <br><br>
  <input *ngIf="dispArr.length==8" type="button" value="Next Page" (click)="getMembersAndImages('next')">
  <input *ngIf="allArr.length>dispArr.length && offset !=0" type="button" value="Previous" (click)="getMembersAndImages('prev')">

</div> -->


<div class="container">
<div class="gallery">

		<div class="gallery-item">
			<img class="gallery-image" src="src=../../assets/altImg.jpg">
    <p>wedding photography</p>
    </div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop" alt="sunset behind San Francisco city skyline">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1506045412240-22980140a405?w=500&h=500&fit=crop" alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1514041181368-bca62cceffcd?w=500&h=500&fit=crop" alt="car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1445810694374-0a94739e4a03?w=500&h=500&fit=crop" alt="back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1486334803289-1623f249dd1e?w=500&h=500&fit=crop" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
		</div>

	</div>

</div>