

	<div class="wrapper">
		<div class="slide">
			<div class="header">
				<img class="logo" src="../../assets/logoo.png">
				<div class="menu">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Team</a></li>
						<li><a href="#">Portfolio</a></li>
						<li><a href="#">Contact</a></li>

					</ul>
				</div>
			</div>

			<div class="slideTitle">
				<h1>jhkjhkfhkjdh</h1>
				<p>hdjhksdhkjhdjkhkjshdjkhkjhskjdhjhkhskdhkjsdhkjsdhkjhskjhdkjshdkjhkjhskjhdjhskjhkdjhskjhdhsdjksk</p>
		</div>
	</div>

	<div class="content">
		<div class="content-title">
			<h2>Who We Are</h2>
			<div class="border">
				<span></span>
				<span></span>
				<span></span>
			</div>
	</div>
	</div>

	<p class="content-desc">
		hjhkhdkjhkjshdjbkcbckjjhdjhjhsjsldhlshdkhihihihihhihihihihhihihihihihihihihihihihihhuhuhuhuhuhuhuhuhuhuhuh
		sgdgfdfgdfgdgfdgdgdgfdgf
	</p>

	<div class="skill-section">
		<div class="skill-img">
			<img src="../../assets/skill.jpg" />
		</div>
		<div class="skill-content">
			<h3 class="skill-title"><i>Our Skill</i></h3>
		<div class="skills speaking">
			<i>Experience</i>
			<span><abbr></abbr></span>
		</div>
		<div class="skills efficiency">
			<i>Efficiency</i>
			<span><abbr></abbr></span>
		</div>
		<div class="skills Ssss">
			<i>Ssss</i>
			<span><abbr></abbr></span>
		</div>
		</div>
		<div class="about-content">
				<div class="about-desc">
					<p><b><i> jjkhjklkjljkjhihihihihihiihiihihihihihhihihihihuhuhuhuhuhuhuhhuhuhuhuhuhuh</i></b></p>
					<p>A paragraph is a series of sentences that are organized and coherent, 
						and are all related to a single topic. Almost every piece of writing
						 you do that is longer than a few sentences should be organized into paragraphs.
						  This is because paragraphs show a reader where the subdivisions of an essay 
						  begin and end, and thus help the reader see the organization of the essay 
						  and grasp its main points</p>
				</div>
				<div class="about-img">
					<img src="../../assets/wed2.jpg">
		</div>
	</div>

	<div class="m-content">
		<p><b><i>Photography Styles</i></b></p>
	</div>
	
	<div class="desk-img">
		<img src="../../assets/wed7.jpg" />
		<img class="desk6" src="../../assets/wed9.jpg" />
		<img src="../../assets/wed12.jpg" />
	</div>
	<div class="desk-img">
		<img src="../../assets/wed5.jpg" />
		<img class="desk6" src="../../assets/wed6.jpg" />
		<img src="../../assets/wed2.jpg" />
	</div>

</div>
<div class="content">
		<div class="content-title">
			<h2>What We Do</h2>
			<div class="border">
				<span></span>
				<span></span>
				<span></span>
			</div>
	</div>
	<div class="clearfix"></div>
	<div class="column col1">
		<img src="../../assets/icon1.png" />
		<h4><i>YAWING</i></h4>
		<p><i>uhuhihkjh hi hihihihihiihihihihihihihi huhuhuhuhuhuhuhuh huhuhuhuhhuh huhuhhuuhhuhuhuhhuhuh
		jlldkklflkk</i></p>
	</div>	
	<div class="column col2">
		<img src="../../assets/icon2.png" />
		<br>
		<h4><i>PROCASTINATING</i></h4>
		<p><i>uhuhihkjh hi hihihihihiihihihihihihihi huhuhuhuhuhuhuhuh huhuhuhuhhuh huhuhhuuhhuhuhuhhuhuh
		jlldkklflkk</i></p>
	</div>	
	<div class="column col3">
		<img src="../../assets/icon3.png" />
		<h4><i>NAPPING</i></h4>
		<p><i>uhuhihkjh hi hihihihihiihihihihihihihi huhuhuhuhuhuhuhuh huhuhuhuhhuh huhuhhuuhhuhuhuhhuhuh
		jlldkklflkk</i></p>
	</div>

</div>


	<div class="content ourteam">
		<div class="content-title">
			<h2>Our Team</h2>
			<div class="border">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>

		<div class="tm">
			<div class="employer">
				<div class="employer-image">
					<img src="../../assets/wed1.jpg">
				</div>
				<div class="emplyer-detail">
					<h3><i>Scarlet hara</i></h3>
					<h5><i>Employer</i></h5>
					<p><i>hghhkjhkjhkhkhkj hihihihihi huhuhu uhuhuhu huhuhu huhuhu  huhuhuhuhuhu jjkj ljlj lkjljl kjdjkljk jjks jkjk  jkkl jljjk llkjj</i></p>
				</div>
					
			</div>

				<div class="employer">
				
				<div class="emplyer-detail1">
					<h3><i>Scarlet hara</i></h3>
					<h5><i>Employer</i></h5>
					<p><i>hghhkjhkjhkhkhkj hihihihihi huhuhu uhuhuhu huhuhu huhuhu  huhuhuhuhuhu jjkj ljlj lkjljl kjdjkljk jjks jkjk  jkkl jljjk llkjj</i></p>
				</div>
					<div class="employer-image1">
					<img src="../../assets/wed1.jpg">
				</div>
			</div>
			<div class="employer">
				<div class="employer-image">
					<img src="../../assets/wed1.jpg">
				</div>
				<div class="emplyer-detail">
					<h3><i>Scarlet hara</i></h3>
					<h5><i>Employer</i></h5>
					<p><i>hghhkjhkjhkhkhkj hihihihihi huhuhu uhuhuhu huhuhu huhuhu  huhuhuhuhuhu jjkj ljlj lkjljl kjdjkljk jjks jkjk  jkkl jljjk llkjj</i></p>
				</div>
					
			</div>

		<div class="employer">
				
				<div class="emplyer-detail1">
					<h3><i>Scarlet hara</i></h3>
					<h5><i>Employer</i></h5>
					<p><i>hghhkjhkjhkhkhkj hihihihihi huhuhu uhuhuhu huhuhu huhuhu  huhuhuhuhuhu jjkj ljlj lkjljl kjdjkljk jjks jkjk  jkkl jljjk llkjj</i></p>
				</div>
					<div class="employer-image1">
					<img src="../../assets/wed1.jpg">
				</div>
			</div>
		</div>
	</div>







