

<div class="sidenav">
  <!-- <a href="#about">Dashboard</a> -->
  <a (click)="alluser()"><i class="fas fa-address-book"></i>  &nbsp;All Users</a>
  <a (click)="allmem()"><i class="fa fa-fw fa-users"></i> All Members</a>
  <a (click)="request()"><i class="fa fa-user-circle"></i> &nbsp; Requests</a>
  
</div>

<div class="main">

<div class="topnav">
<!-- <img src="../../assets/fitness-bracelet.png" class="img"> -->
<!-- <div class="logo"><b><i>Get Fit</i></b></div> -->

  <a href="#home">Dashboard</a>
  <!-- <a href="#contact">Contact</a>
  <a href="#about">About</a> -->
  <div style="float:right"><a href="#" >Logout</a></div>

  <!-- <div style="float:right"><i class="fa fa-bar-chart"></i></div> -->

</div>
<br>
   <div class="ex">
   
    <router-outlet></router-outlet>
 
    
  </div>
  </div>


      
      

<br>
<br>
<br>
<br>
<!-- <div class="btn-group" style="width:100%">
          <button style="width:25%"><i class="fa fa-users"> All Customers</i></button>
          <button style="width:25%"><i class="fa fa-calendar-check-o"> Check-ups today</i></button>
          <button style="width:25%"><i class="fa fa-calendar"> Check-ups tomorrow</i></button>
          <button style="width:25%"><i class="fa fa-exclamation-circle"> CAP session due</i></button>
          <button style="width:25%"><i class="fa fa-undo"> Renewal due</i></button>
          <button style="width:25%"><i class="fa fa-question-circle"> My Leads</i></button>
          <button style="width:25%"><i class="fa fa-bell"> Retail Remainder</i></button>
          <button style="width:25%"><i class="fa fa-birthday-cake"> BirthDays</i></button>
           
                  </div>
                </div> -->
                
            
    