*{
  box-sizing: border-box;
}

body {
  margin: 0;
  
}

/* table {
  width: 100%;
} */

select {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

textarea {
  padding: 10px;
  border: 1px solid #ccc;
  resize: vertical;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  
}

/* .tab-main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0 0;
} */

/* .tab-main .tabs-button {
  display: inline-block;
  width: 100%;
} */

/* .tab-main .prev-btn, .tab-main .submit-btn, .tab-main .next-btn {
  display: none;
} */

.tab-main .prev-btn {
  float: left;
}

.tab-main .next-btn {
  float: right;
}

.tab-main .tab-body {
  position: relative;
}

/* .tab-main .tab-body .tab {
  display: none;
} */

/* .tab-main .tab-footer .submit-btn {
  float: right;
}

.tab-main .button {
  border: 1px solid #ff6b34;
  background-color: transparent;
  color: #000;
  padding: 12px 20px 12px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.tab-progressbar li {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  font-size: 16px;
  padding: 0 10px;
}

.tab-progressbar span {
 background-color: #eee;
  padding: 5px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 43px;
}

.tab-progressbar {
  font-size: 0;
  padding: 0 15px;
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}

.tab-progressbar li {
  list-style-type: none;
  color: #fff;
  float: left;
  position: relative;
}

.tab-progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 40px;
  line-height: 40px;
  display: block;
  font-size: 13px;
  color: #333;
  background: #eee;
  border-radius: 3px;
  margin: 0 auto 5px auto;
  text-align: center;
  border-radius: 50px;
  border: 1px solid transparent;
}

.tab-progressbar li.active:before {
  cursor: pointer;
  border-color:#000;
}

.tab-progressbar li:after {
  content: '';
  width: 100%;
  height: 1px;
  background: #ccc;
  position: absolute;
  left: -50%;
  top: 50%;
  z-index: -1;
  margin-top: -3px;
}

.tab-progressbar li:first-child:after {
  content: none;
}

.tab-progressbar li.active:before, .tab-progressbar li.active:after {
  background: #ff6b34;
  color: #fff;
  border-color: #ff6b34;
}

.tab-progressbar li.active.current:before {
  background: #fff;
  color: #333;
} */

/* .btn {
  font-weight: 500;
  font-size: 16px;
  color: #333;
  line-height: normal;
  border: 1px solid #ff6b34;
  background-color: transparent;
  padding: 15px 20px 12px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
} */

.field_container {
  margin: 5 0 10px;
}

.field_container:last-child {
  margin-bottom: 0;
}

.form_heading {
  margin-bottom: 5px;
  margin-top: 10px;
}

.form_field_wrapper {
  padding: 10px;
  /* border: 1px solid #ccc; */
  margin-bottom: 0px;
  margin-top: 5px;
  left: 20px;
  width: 70%;
}
.submit-btn{
  width: 30%;
  background-color: transparent;
  left: 40%;
}
